<h1> My Records </h1>

<ul>
    <% @records.each do |r| %>
        <li>
            <strong> <%= r.artist %> </strong>
        </li>
    <% end %>
</ul>

<%= link_to "Add New Record", new_user_record_path %>
